.footer {
    text-align: center;
    height: 30px;
    padding-top: 12px;
  
}

.header {
    border-bottom:1px solid rgb(214, 199, 199);
    padding-top:5px;
    padding-bottom: 5px;
}

.buttdiv {
    text-align: right;  
}

.titlediv {
    padding-top: 5px;
    text-align: left;
}

.mainrow {
    background-color: rgb(238, 234, 234);
}

.main {
    min-height: 90vh;
}

.lbuttons {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

#adddiv {
    margin: 30px 0;
}

#addbtn {
    background-color: orange;
}

.edlink, .dellink {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    cursor:pointer;
    /* color: orange; */
}

.dellink:hover {
    color: red;
}

.edlink {
    color: rgb(28, 95, 196);
}

.dellink {
    color: red;
}
